
*.lock
*.xcconfig

woomam/ios/build/

.idea/woomam-flutter.iml
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/modules.xml

woomam/gradlew
woomam/gradlew.bat
woomam/.gradle/
woomam/gradle/
woomam/.env
